#notify-holder-outer {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.notify-notification,
.notify-notification-sticky {
    flex-direction: row;
    align-items: center;
}

.notify-notification {
    width: fit-content;
    margin: 0 0 7px 7px;
    display: flex;
    opacity: 0;
    border-radius: 7px;
    /*box-sizing: border-box;*/
}

.notify-notification-sticky {
    height: 0;
    display: flex;
    position: fixed;
    border-bottom: 4px solid #00000000;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -1;
}

.notify-notification img,
.notify-notification-sticky img {
    width: 50px;
    margin: 7px 10px;
}

.notify-notification div,
.notify-notification-sticky div {
    height: fit-content;
    margin: 7px 10px;
    color: #fff;
}